table {
  width: 100%;
}

.spacer{
  flex: 1 1 auto;
}
.mat-card{
  margin-top: 20px;
}

.task-completed{
  text-decoration: line-through;
}



.input-wrapper { 
  overflow:hidden;
  max-height: 75px;
}