<mat-toolbar>
  <button mat-button color="secondary">Todo List</button>

  <span class="spacer"></span>

  <button mat-mini-fab [matMenuTriggerFor]="menu" color="accent">
    <!-- <mat-icon>account_circle</mat-icon> -->
    A
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon><span>Account</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>brightness_6</mat-icon><span>Dark Mode</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon><span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<app-list></app-list>